.navbar {
  /* background: linear-gradient(90deg, rgb(20, 20, 20) 0%, rgb(27, 27, 27) 100%); */
  background: transparent;
  height: 70px;
  display: flex;
  font-size: 1.5rem;
  /* position: sticky; */
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  height: 70px;
  max-width: 1500px;
  justify-content: flex-start;
  margin: 0 2rem;
  background-color: transparent;
}

.nav-links {
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 3px solid #fff;
  transition: all 0.12s ease-out;
}
@media only screen and (max-width: 900px) {
  .navbar {
    justify-content: center;
  }
  .navbar-container {
    margin: 0 1 rem;
  }
}
